.blog {
    display: flex;
    flex-wrap: wrap;
    background-color: $whiteShade;
    height: auto;

    * {
        color: $blackShade;
    }
    
    div {
        width: 50vw;
        height: 27.93vw;
    }

    img {
        width: 100%;
    }

    &__img--mobile {
        display: none;
    }
    
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    &__heading {
        @include poppinsFont(1.5rem);
        margin: 5px 0;
    }

    &__text {
        width: 50%;
    }


    .button {
        margin: 0;
    }


}