.linkbar {
    height: 250px;
    background-color: $bgColor;
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        margin: 0 65px;
        width: 130px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icon {
        height: 40px;

        svg {
            height: 40px;
            width: auto;
            fill: $whiteShade;
        }
    }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 1.3rem;
        color: $whiteShade !important;
        margin: 10px 0;
    }
}