html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

header {
  background: url(../images/header.jpg) center;
  background-size: cover;
  height: 640px;
}

header * {
  color: #F6F6F6;
  font-family: "Poppins", sans-serif !important;
}

header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 65px;
}
.header-top h1 {
  margin: 0 0 0 40px;
  color: #F6F6F6;
}
.header-top a {
  font-size: 0.7rem;
  margin-left: 20px;
}
.header-top nav {
  margin-right: 20px;
}

.hero-text {
  font-size: 1.2rem;
}
.hero-text__line2 {
  font-size: 4.5rem;
  margin: 0;
}

.socials-container {
  height: 33.33%;
  position: relative;
}
.socials-container ul {
  position: absolute;
  right: 0;
  bottom: 0;
}
.socials-container svg {
  width: 10px;
  fill: #215A6D;
}

.about {
  height: 400px;
  width: 675px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about * {
  color: #0F0F0F;
}
.about h2 {
  margin-bottom: 10px;
}
.about .button {
  margin: 5px 0;
}

.blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #F6F6F6;
}
.blog * {
  color: #0F0F0F;
}
.blog div {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.blog img {
  width: 100%;
}
.blog__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 640px !important;
}
.blog__container--left {
  margin: auto;
  margin-right: 0;
}
.blog__heading {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 5px 0;
}
.blog__text {
  width: 50%;
}
.blog .button {
  margin: 0;
}

.linkbar {
  height: 250px;
  background-color: #215A6D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.linkbar a {
  margin: 0 65px;
  width: 130px;
}
.linkbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.linkbar__icon {
  height: 40px;
}
.linkbar__icon svg {
  height: 40px;
  width: auto;
  fill: #F6F6F6;
}
.linkbar p {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  color: #F6F6F6 !important;
  margin: 10px 0;
}

.bio {
  height: 425px;
  background-color: #F6F6F6;
}
.bio * {
  color: #0F0F0F;
}
.bio .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.bio__img-container {
  margin-left: 40px;
}
.bio__img-container img {
  width: 250px;
}
.bio__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 40px;
  margin-left: 30px;
  height: 250px;
}
.bio h2 {
  margin: 10px 0;
}
.bio__text {
  text-align: left;
  margin: 0;
}
.bio .button {
  margin: 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.gallery {
  height: 500px;
}
.gallery .wrapper {
  height: 100%;
}
.gallery ul {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 40px;
  padding: 0;
}
.gallery img {
  width: 330px;
}

/* GLOBAL STYLES */
html {
  font-size: 125%;
  /* 20px default */
}

body {
  margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 26px;
}

h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 1.9rem;
  line-height: 26px;
  margin: 0;
}

p {
  font-family: "Noto Sans";
  font-size: 0.9rem;
  line-height: 29px;
  text-align: center;
}

a {
  text-decoration: none;
}

button {
  border: none;
  cursor: pointer;
}

.button {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  color: #0F0F0F;
  background-color: #8DD7E9;
  padding: 0 25px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

li {
  list-style: none;
}

svg {
  width: 1rem;
}

.wrapper {
  max-width: 1280px;
  width: 90%;
  margin: 0 auto;
}